<a href="#/stopPlaceList">Tilbake til holdeplasser</a>

<form class="simple-form">
	<div class="row">
		<div class="six columns">
			<div ng-class="{'currently-editing': isEditingStopPlace()}" ng-click="stopPlaceClicked()" class="editing-segment">
				<label for="stopPlaceName">Stoppestedsnavn:</label>
				<input id="stopPlaceName" type="text" ng-model="stopPlace.name" ng-change="stopPlaceNameChanged()" required/>

				<label for="stopPlaceShortName">Kort navn:</label>
				<input id="stopPlaceShortName" type="text" ng-model="stopPlace.shortName" />

				<label for="stopPlaceDescription">Beskrivelse:</label>
				<input id="stopPlaceDescription" type="text" ng-model="stopPlace.description" />

				<label for="stopPlaceType">Stoppestedstype:</label>
				<select id="stopPlaceType" ng-model="stopPlace.stopPlaceType">
					<option ng-repeat="stopPlaceType in stopPlaceTypes"
							value="{{ stopPlaceType.value }}">{{ stopPlaceType.name }}
					</option>
				</select>
			</div>
			<div class="">

				<button class="button-primary ion-plus-round" ng-click="newQuay()" title="Legg til nytt stoppunkt"></button>
			    <div ng-repeat="quay in stopPlace.quays" class="editing-segment" ng-class="{'currently-editing': isEditingQuay(quay)}" ng-click="quayFormClicked(quay)">
			    	<label for="quayName{{ $index }}">Stoppunkt:</label>
					<input id="quayName{{ $index }}" type="text" ng-model="quay.name" ng-change="quayNameChanged(quay)"/>

					<select id="quayType" ng-model="quay.quayType">
						<option ng-repeat="quayType in quayTypes"
							value="{{ quayType.value }}">
							{{ quayType.name }}
						</option>
					</select>

					<button class="button-primary ion-minus-round" ng-click="removeQuay(quay, $event)" title="Fjern stopppunkt"></button>
			    </div>
			</div>
		</div>

		<div class="six columns">
		    <leaflet markers="markers" defaults="defaults" layers="layers" lf-center="center" height="300px" width="100%"></leaflet>
		</div>

	</div>



	<div class="row">
    	<input type="button" ng-click="reset()" value="Gjenopprett" />
    	<input type="submit" ng-click="save()" value="Lagre" />
    </div>

Current object:

	{{ currentObject }}
<hr>

Current stop place centroid:
    {{ stopPlace.centroid }}

<hr>
Current quay centroid:
    {{ currentQuay.centroid }}

</form>
