
<a class="return top-buffer" href="#/stopPlaceList">Tilbake til Stop Places</a>

<form class="">
	<div class="row">
		<div class="col-md-6">
			<leaflet markers="markers" defaults="defaults" layers="layers" lf-center="center" height="600px" width="100%"></leaflet>
		</div>
	</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-6 left-buffer">
			<div class="row bottom-buffer">
				<div class="editing-segment col-sm-12" ng-class="{'currently-editing': isEditingStopPlace()}" ng-click="stopPlaceClicked()">

					<div class="row bottom-buffer">
						<div class="col-sm-12">
							<h5 title="A place comprising one or more locations where vehicles may stop and where passengers may board or leave vehicles or prepare their trip. A STOP PLACE will usually have one or more wellknown names.">
								Stop Place <span class="ion-help-circled"/>
							</h5>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label for="stopPlaceName">Navn</label>
							<input id="stopPlaceName" type="text" class="form-control" ng-model="stopPlace.name" ng-change="stopPlaceNameChanged()" required/>
						</div>
						<!--<div class="col-md-6">
							<label for="stopPlaceShortName">Kort navn:</label>
							<input id="stopPlaceShortName" type="text" class="form-control" ng-model="stopPlace.shortName" />
						</div>-->
					</div>

					<div class="row">
						<div class="col-md-12">
							<label for="stopPlaceDescription">Beskrivelse</label>
							<input id="stopPlaceDescription" type="text" class="form-control" ng-model="stopPlace.description" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label for="stopPlaceType">Type</label>
							<select id="stopPlaceType" class="form-control" ng-model="stopPlace.stopPlaceType">
								<option ng-repeat="stopPlaceType in stopPlaceTypes"
										value="{{ stopPlaceType.value }}">{{ stopPlaceType.name }}
									</option>
							</select>
						</div>
					</div>

					<div class="row top-buffer">
						<div class="col-md-12">
							<label class="checkbox-inline" title="Whether all areas of component are accessible in a Wheelchair.">
								<input id="allAreasWheelchairAccessible" type="checkbox" ng-model="stopPlace.allAreasWheelchairAccessible" />
								Alle områder i Stop Place tilgjengelig for rullestol: <span class="ion-help-circled"/>
							</label>
						</div>
						<div class="col-md-6 top-buffer">
							<button class="btn btn-primary btn-large" class="form-control" ng-click="newQuay()" title="A place such as platform, stance, or quayside where  passengers have access to PT vehicles, Taxi, cars or other means of transportation. A QUAY may serve one or more VEHICLE STOPPING PLACEs and be associated with one or more STOP POINTS.">
								Ny Quay
							</button>
						</div>
					</div>

				</div>
			</div>

			<div class="row top-buffer bottom-buffer">

			</div>

			<!-- Quays -->
			<div ng-repeat="quay in stopPlace.quays" class="editing-segment row bottom-buffer" ng-class="{'currently-editing': isEditingQuay(quay)}" ng-click="quayFormClicked(quay)">

				<div class="col-md-12">
					<div class="row top-buffer">
						<div class="col-md-10">
							<div title="A place such as platform, stance, or quayside where passengers have access to PT vehicles, Taxi, cars or other means of transportation. A QUAY may serve one or more VEHICLE STOPPING PLACEs and be associated with one or more STOP POINTS.">
								Quay <span class="ion-help-circled"/>
							</div>
						</div>
						<div class="col-md-2">
							<button class="btn btn-primary pull-right" class="form-control" ng-click="removeQuay(quay, $event)" title="Fjern stopppunkt">Fjern</button>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<label for="quayName{{ $index }}">Navn</label>
							<input id="quayName{{ $index }}" type="text" class="form-control" ng-model="quay.name" ng-change="quayNameChanged(quay)"/>
						</div>
						<div class="col-md-6">
							<label for="quayType{{ $index }}">Type:</label>
							<select id="quayType{{ $index }}" class="form-control" ng-model="quay.quayType">
								<option ng-repeat="quayType in quayTypes" value="{{ quayType.value }}">
									{{ quayType.name }}
								</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<label class="checkbox-inline" title="Whether all areas of component are accessible in a Wheelchair.">
								<input id="allAreasWheelchairAccessible{{ $index }}" type="checkbox" ng-model="quay.allAreasWheelchairAccessible" />

								Alle områder i Quay tilgjengelig for rullestol: <span class="ion-help-circled"/>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="row">
  	<div class="col-md-12 left-buffer bottom-buffer">
    	<input type="button" class="btn btn-primary" ng-click="reset()" value="Nullstill" />
    	<input type="submit" class="btn btn-primary" ng-click="save()" value="Lagre" />
    </div>
	</div>
</form>
