/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

th, td {
  padding: 2px 4px;
}

.coloured-block {
  background-color: #E8ECF1;
}

.editing-segment:hover {
  cursor: pointer;
  background-color: #DFE6E6;
}

.currently-editing {
  background-color: #E8ECF1;
}

.row-hover:hover {
  cursor: pointer;
  background-color: #DFE6E6;
}
