@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./partials/_navigations";

/* general styling */

.coloured-block {
  background-color: #E8ECF1;
}

.editing-segment {
  border: 1px solid #eee;
  border-left: 5px solid #16c1f3;
  border-radius: 3px;
  padding-bottom: 20px;
}

.editing-segment:hover {
  cursor: pointer;
  outline: 2px solid #eee;
}

.currently-editing {
  background-color: #E8ECF1;
}

.row-hover:hover {
  cursor: pointer;
  background-color: #DFE6E6;
}

.top-buffer { margin-top:10px; }

.bottom-buffer { margin-bottom: 10px; }

.left-buffer {  margin-left: 10px; }
