<h1>Holdeplasser</h1>

<input type="text" 
         ng-model="search.query" 
         ng-change="change()"
         ng-model-options="{ debounce: 600 }"
         placeholder="Filtrer på holdeplassnavn" />

<table>
	<th>name</th><th>Id</th><th>Type</th><th>Latitude</th><th>Longitude</th><th></th>

	<tr ng-repeat="stopPlace in stopPlaces">
		<td>{{ stopPlace.name }}</td>
		<td>{{ stopPlace.id }}</td>
		<td>{{ stopPlace.stopPlaceType }}</td>
		<td>{{ stopPlace.centroid.location.latitude }}</td>
		<td>{{ stopPlace.centroid.location.longitude }}</td>
		<td><a href="#/stopPlaceEditor/{{ stopPlace.id }}">edit</a></td>
	</tr>

</table>

