<h1>Holdeplasser</h1>

<input type="text" 
         ng-model="search.query" 
         ng-change="change()"
         ng-model-options="{ debounce: 600 }"
         placeholder="Filtrer på holdeplassnavn" />

	<li ng-repeat="stopPlace in stopPlaces">
		<b>{{ stopPlace.name }}</b>
		<b>id:</b> <small>{{ stopPlace.id }}</small> 
		<b>type:</b> {{ stopPlace.stopPlaceType }}
		<b>latitude:</b> {{ stopPlace.centroid.location.latitude }}
		<b>longitude:</b> {{ stopPlace.centroid.location.longitude }}

		<a href="#/stopPlaceEditor/{{ stopPlace.id }}">edit</a>
	</li>
</ul>
