.editStopSideBar {
    position: absolute;
    border: 1px solid #777;
    top: 95px;
    z-index: 9999;
    left: 416px;
    background: #fff;
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}