name: Deploy norwegian NSR

on:
  workflow_run:
    workflows: [Build]
    types:
      - completed
    branches:
      - master

jobs:
  dev:
    uses: ./.github/workflows/_deploy.yml
    with:
      env_name: dev
      favicon: nsr-d.ico
      config: dev.json
      project: ent-ror-abzu-dev
      target: dev
    secrets:
      firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_DEV }}

  tst:
    needs: [dev]
    uses: ./.github/workflows/_deploy.yml
    with:
      env_name: staging
      favicon: nsr-s.ico
      config: test.json
      project: ent-ror-abzu-tst
      target: staging
    secrets:
      firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_TST }}

  prd:
    needs: [dev, tst]
    uses: ./.github/workflows/_deploy.yml
    with:
      env_name: prod
      favicon: nsr-p.ico
      config: prod.json
      project: ent-ror-abzu-prd
      target: prod
    secrets:
      firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_PRD }}
