name: Deploy swedish NSR

on:
  workflow_run:
    workflows: [Build]
    types: [completed]
    branches:
      - master

jobs:
  dev:
    uses: ./.github/workflows/_deploy.yml
    with:
      env_name: dev
      favicon: nsr-d.ico
      config: sweden-dev.json
      project: ent-ror-abzu-dev
      target: sweden-dev
    secrets:
      firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_DEV }}

  tst:
    needs: [dev]
    uses: ./.github/workflows/_deploy.yml
    with:
      env_name: staging
      favicon: nsr-s.ico
      config: sweden-tst.json
      project: ent-ror-abzu-tst
      target: sweden-tst
    secrets:
      firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_TST }}

  prd:
    needs: [dev, tst]
    uses: ./.github/workflows/_deploy.yml
    with:
      env_name: prod
      favicon: nsr-p.ico
      config: sweden-prd.json
      project: ent-ror-abzu-prd
      target: sweden-prd
    secrets:
      firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_PRD }}
