name: Deploy nordic NSR

on:
  workflow_run:
    workflows: [Build]
    types:
      - completed
    branches:
      - master

jobs:
  dev:
    uses: ./.github/workflows/_deploy.yml
    with:
      env_name: dev
      favicon: nsr-d.ico
      config: nordic-dev.json
      project: ent-ror-abzu-dev
      target: nordic-dev
    secrets:
      firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_DEV }}
