name: Deploy

on:
  workflow_run:
    workflows: [Build]
    types:
      - completed

jobs:
  deploy_dev:
    runs-on: ubuntu-latest
    environment: 'dev'
    steps:
      - uses: actions/checkout@v4
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          name: build
          path: build
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Copy favicon
        run: cp build/nsr-d.ico build/favicon.ico
      - name: Copy bootstrap config
        run: cp .github/environments/dev.json build/bootstrap.json
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_DEV }}'
          channelId: live
          projectId: ent-ror-abzu-dev
          target: dev
  deploy_nordic_dev:
    runs-on: ubuntu-latest
    environment: 'dev'
    steps:
      - uses: actions/checkout@v4
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          name: build
          path: build
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Copy favicon
        run: cp build/nsr-d.ico build/favicon.ico
      - name: Copy bootstrap config
        run: cp .github/environments/nordic-dev.json build/bootstrap.json
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_DEV }}'
          channelId: live
          projectId: ent-ror-abzu-dev
          target:  nordic-dev
  deploy_staging:
    runs-on: ubuntu-latest
    needs: [deploy_dev]
    environment: 'staging'
    steps:
      - uses: actions/checkout@v4
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          name: build
          path: build
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Copy favicon
        run: cp build/nsr-s.ico build/favicon.ico
      - name: Copy bootstrap config
        run: cp .github/environments/test.json build/bootstrap.json
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_TST }}'
          channelId: live
          projectId: ent-ror-abzu-tst
          target: staging
  deploy_prod:
    runs-on: ubuntu-latest
    needs: [deploy_dev, deploy_staging]
    environment: 'prod'
    steps:
      - uses: actions/checkout@v4
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          name: build
          path: build
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Copy favicon
        run: cp build/nsr-p.ico build/favicon.ico
      - name: Copy bootstrap config
        run: cp .github/environments/prod.json build/bootstrap.json
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ENT_ROR_ABZU_PRD }}'
          channelId: live
          projectId: ent-ror-abzu-prd
          target: prod
